@{
    ViewBag.Title = "Logon";
}

<h1>Logon</h1>

<form method="post">
  <fieldset>
    <div class="control-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="password" />
    </div>
    <div class="control-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="control-group">
      <label class="checkbox"><input type="checkbox" id="isawesome" name="isawesome" value="true" /> Are you awesome?</label>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Logon</button>
      <button type="reset" class="btn">Clear</button>
    </div>
  </fieldset>
</form>
