@using SecurityDemo.Web.Security
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>
<p>Congratulations you can access this page.</p>
@if (User.HasPermission(SecurityDemo.Data.Permission.EditCar))
{
  <p>Apparently you are an editor so you can also access @Html.ActionLink("this", "EditCar")</p>
}
else
{
  <p>But you cannot access - @Html.ActionLink("this", "EditCar")</p>
  <p>
  If you try the default behaviour is to redirect you to the forms authentication logon url... which is bit stupid. 
  If you are already logged on it should just return a 403. So SensibleAuthorizeAttribute takes care of that.
  </p>
}
<p>
<button @(User.HasPermission(SecurityDemo.Data.Permission.CreateCar) ? string.Empty : @"disabled=""disabled""")>Create Car</button>
</p>
<p>
  Above button will be disabled without the CreateCar permission.
</p>